<script> 
    import secante from '../../methods/no_lineales/secante';

    var iteraciones = [];
    function execute(event){
        const formData = new FormData(event.target);
        const data = {};
        for (let field of formData) {
            const [key, value] = field;
            data[key] = value;
        }
        console.log(data)
        let f = new Function('x', `return ${data.funcion}`);
        iteraciones = secante(data.x, data.xi, data.tolerancia, f);
    }
</script>

<div class="method-container">
    <h1 class="title mb-10">Secante</h1>

    <form class="w-full max-w-3xl" on:submit|preventDefault={execute}>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="label" for="funcion">
                    Función
                </label>
                <input name="funcion" class="input" id="funcion" type="text" placeholder="Math.pow(x,2)-3*x-4">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="label" for="x">
                    X
                </label>
                <input name="x" class="input" id="x" type="text" placeholder="7">
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="label" for="xi">
                    Xi
                </label>
                <input name="xi" class="input" id="xi" type="text" placeholder="5">
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="label" for="tolerancia">
                    Tolerancia
                </label>
                <input name="tolerancia" class="input" id="tolerancia" type="text" placeholder="10E-4">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <input value="Ejecutar" class="bg-blue-500 hover:bg-blue-400 hover:border-blue-500 text-white font-bold py-2 px-4 rounded-full w-full" id="funcion" type="submit">
            </div>
        </div>
    </form>
    <table class="rounded-xl shadow table-auto bg-white w-3/4 ml-3 mb-10">
        <thead class="bg-gray-200">
            <tr>
                <th >Iteracion</th>
                <th class="border-l border-gray-300 pl-5">Valor</th>
            </tr>
        </thead>
        <tbody>
        {#each iteraciones as iteracion, i}
            <tr class="{(i==iteraciones.length-1)?'bg-green-100':''}">
                <td class="font-bold grid place-items-center">{i+1}</td>
                <td class="border-l border-gray-300 pl-5">{iteracion}</td>
            </tr>
        {:else}
            <tr>
                <td class="font-bold grid place-items-center">0</td>
                <td class="border-l border-gray-300 pl-5">0</td>
            </tr>
        {/each}
        </tbody>
    </table>
</div>
