<script>
</script>

<svelte:head>
    <title>Memes</title>
</svelte:head>

<h1>Memes</h1>

<img src="./images/memes/naruto_perron.webp" alt="naruto perron">
<img src="./images/memes/success_kid.webp" alt="success kid">
<h1>Cuando el profesor vea el proyecto final</h1>
<video controls>
    <source src="./videos/memes/glowing_spongebob.webm" type='video/webm;codecs="vp8, vorbis"'/>
    <track src="./videos/memes/glowing_spongebob.vtt" kind="captions" srclang="en" label="english_captions" />
</video>