<a href="metodos/no_lineales" class="bg-blue-500 hover:bg-blue-400 hover:border-blue-500 text-white font-bold py-2 px-4 rounded-full w-full">No Lineales</a>
<a href="metodos/lineales" class="bg-blue-500 hover:bg-blue-400 hover:border-blue-500 text-white font-bold py-2 px-4 rounded-full w-full" id="funcion" type="submit">Lineales</a>
<a href="metodos/interpolation" class="bg-blue-500 hover:bg-blue-400 hover:border-blue-500 text-white font-bold py-2 px-4 rounded-full w-full" id="funcion" type="submit">Interpolación</a>