<script>
    import Lagrange from '../../components/interpolation/Lagrange.svelte';
    import Difdivididas from '../../components/interpolation/Difdivididas.svelte';
    import Vandermonde from '../../components/interpolation/Vandermonde.svelte';
</script>

<!--Lagrange /-->
<!--Difdivididas /-->
<Vandermonde />
