<script>
    import Cholesky from '../../components/lineales/Cholesky.svelte';
    import Jacobi from '../../components/lineales/Jacobi.svelte';
    import Gausspl from '../../components/lineales/Gausspl.svelte';
    import Gausspar from '../../components/lineales/Gausspar.svelte';
    import Gausstot from '../../components/lineales/Gausstot.svelte';
    import Lusimpl from '../../components/lineales/Lusimpl.svelte';
    import Lupar from '../../components/lineales/Lupar.svelte';
</script>

<!--Cholesky /-->
<!--Jacobi /-->
<!--Gausspl /-->
<Gausspar />
<!--Gausstot /-->
<!--Lusimpl /-->
<!-- Lupar /-->
