<script>
	export let segment;
</script>

<style>
	nav {
		font-weight: 300;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	[aria-current] {
		position: relative;
		display: inline-block;
		font-weight: bolder;
	}

	[aria-current]::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
		color: white;
	}
</style>

<nav class="flex flex-wrap shadow-lg bg-gray-600 mb-10">
	<h1 class="m-2 mx-10 font-bold text-3xl text-white">Análisis Numérico</h1>
	<ul class="">
		<li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">Home</a></li>
		<li><a aria-current="{segment === 'about' ? 'page' : undefined}" href="about">About</a></li>

		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
		<li><a rel=prefetch aria-current="{segment === 'metodos' ? 'page' : undefined}" href="metodos">Metodos</a></li>
		<li><a rel=prefetch aria-current="{segment === 'memes' ? 'page' : undefined}" href="memes">Memes</a></li>
	</ul>
</nav>
