@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .title{
        @apply text-5xl font-bold;
        margin: 12px;
    }
    .label{
        @apply block tracking-wide text-gray-700 text-base font-bold mb-2 ml-3;
    }
    .input{
        @apply appearance-none block w-full text-gray-700 focus:border-blue-300 border border-gray-400 rounded-full py-3 px-4 mb-3 leading-tight;
    }
    .method-container{
        @apply shadow-xl grid place-items-center bg-gray-100 rounded-2xl my-10;
    }
}